* {
    margin: 0;
    padding: 0;
}

.accountPage {
    width: 100%;
    height: auto;
    display: flex;
}

.accountWrapper {
    width: 100%;
    height: 100vh;
    overflow: none;
}

.userInfo {
    width: 100%;
    height: 8%;
    min-height: 50px;
}

.accountHeader {
    text-align: left;
    padding: 0 0 0 40px;
    margin: 0 auto;
    font-size: 3em;
    padding-top: 5px;
    color: var(--color)
}

.accountInformation {
    width: 50%;
    height: 92%;
    float: left;
}

.accountContainer {
    width: 85%;
    height: 35%;
    background-color: #D0A300;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 11.5%;
    border-radius: 15px;
    overflow-y: auto;
}

.accountTitle {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 15px;
}

.passwordUpdate {
    /* padding-left: 250px; */
    /* padding-left: 31%; */
    color: black;
    justify-content: center;
    width: 50%;
    margin: auto;

}

.accountImporter {
    width: 85%;
    height: 65%;
    margin-left: 15px;
    box-shadow: 0 0 15px -1px;
    border-radius: 15px;
    background-color: #D0A300;
}

.otherContainer {
    width: 50%;
    height: 92%;
    float: right;
}

.themeTitle {
    padding-top: 5px;
}

.toggleTheme {
    width: 85%;
    height: 25%;
    margin: auto;
    background-color: #D0A300;
    border-radius: 15px;
    text-align: center;
}

.button {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.userData {
    margin-top: 10%;
    width: 95%;
    height: 71%;
    background-color: #D0A300;
    border-radius: 15px;
    text-align: center;
}

.user-data {
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.userData-container {
    margin: auto;
    margin-top: 5px;
    width: 85%;
    height: 85%;
    background-color: bisque;
    overflow-x: auto;
    border-radius: 10px;
}