* {
    margin: 0%;
    padding: 0%;
}

.calendar2Page {
    width: 100%;
    height: auto;
    display: flex;
}

.calendar2Wrapper {
    width: 100%;
    height: 100vh;
    overflow: none;
    overflow-x: hidden;
}

.leftContainer {
    width: 50%;
    height: 91.5%;
    float: left;
}

.rightContainer {
    width: 50%;
    height: 91.5%;
    float: right;
}

.calendar-Title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

.coordWeekContainer {
    overflow-y: auto;
    margin: auto;
    margin-top: 5px;
    background-color: #D0A300;
    border-radius: 10px;
    width: 90%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-container {
    background-color: #D0A300;
    border-radius: 10px;
    width: 90%;
    height: 62%;
    margin: auto;
    margin-top: 15px;
    overflow-y: auto;
}

.selectTimes {
    width: 90%;
    height: 99%;
    margin-top: 5px;
    background-color: #D0A300;
    border-radius: 10px;
}

.timeTitle {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-top: 5px;
}

.timeContainer {
    margin: auto;
    margin-top: 5px;
    padding-top: 10px;
    background-color: bisque;
    width: 82%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.css-u0soqy-MuiPickerStaticWrapper-root {
    margin: auto;
    width: 92%;
}

.css-6od3lo-MuiChip-label {
    color: black !important;
}

.viewSchedule {
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    width: 82%;
    height: 38%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designWeekContainer {
    background-color: white;
    margin-top: 15px;
    height: 76px;
    width: 82%;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.showSchedulerContainer {
    background-color: white;
    width: 90%;
    height: 85%;
    color: black;
    overflow-y: auto;
}

.datesShown {
    color: black;
}

.stickyButton {
    position: sticky;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(247, 207, 207);
    margin: auto;
    text-align: left;
}

.coordinator-schedule {
    color: white
}

.timeListContainer {
    margin-left: 5%;
    margin-top: 15px;
    width: 90%;
    height: 95.5%;
    border-radius: 10px;
    background-color: #D0A300;
    overflow-y: auto;
}

.listContainer {
    margin: auto;
    width: 90%;
    background-color: antiquewhite;
}

.timeListTitle {
    text-align: center;
    padding-top: 5px;
    color: black;
    margin-bottom: 5px;
}

.designWeekRoom {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 82%;
    height: 50px;
}

.designInput {
    width: 100%;
    height: 100%;
}

.designInput {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.designInput:focus {
    outline: none;
    border-bottom-color: #0077cc;
    box-shadow: 0 0 5px rgba(0, 119, 204, 0.5);
}

.timeItemContainer {
    width: 92%;
    height: 40%;
    margin: auto;
    background-color: bisque;
    overflow-y: auto;
    border-radius: 10px;
}

.timeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5px;
    min-height: 45px;
    height: auto;
    background-color: #231F20;
    color: white;
}

.timeData {
    margin-left: 5px;
}

.currentSchedule {
    margin-top: 25px;
    height: 43%;
}

.scheduleContainer {
    height: 90%;
    width: 92%;
    margin-left: 4%;
    border-radius: 10px;
    background-color: bisque;
    overflow-y: auto;
}



.itemValue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    margin-top: 1.5px;
    min-height: 45px;
    height: auto;
    background-color: #231F20;
    color: white;
    text-align: center;
}