* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #231F20;
}

h3 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15px;
    color: white;
}

.alert-message {
    margin-bottom: 10px;
}

.webPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.loginContainer {
    justify-content: center;
    align-items: center;
    background-color: #231F20;
    height: 100vh;
    width: 30%;
    display: inline-flexbox;
}

.imageContainer {
    background-color: #ffffff;
    width: 70%;
    height: 100vh;
    display: inline-flexbox;
}

img {
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-top: 5px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mylabel {
    color: aliceblue !important;
}

span {
    margin-left: 1%;
    color: white;
}

a {
    text-decoration: none;
    margin-top: 5%;
    color: rgb(83, 177, 236);
}

a:hover {
    text-decoration: none;
    color: rgb(39, 158, 232);
}