*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar-wrapper{
    background-color: #FFC904;
    top: 0;
    left: 0;
    width: 110px;
    height: auto;
}

.coordinatorBar{
    height: auto;
    width: auto;
    float: none;
}

.row{
    margin: 0%;
    padding: 0%;
    text-align: center;
    display: inline;
    height: 100%;
}

.coordList :hover{
    cursor: pointer;
    background-color: #dfb006;
}

.coordList{
    background-color: #FFC904;
}

.coordList #active{
    text-decoration: underline;
}

.coordList .row .item{
    height: 100%;
}

.ucfLogo{
    height: 80px;
    width: auto;
}

.ucfText{
    font-size: 28px;
    color: black;
    padding-bottom: none;
    margin-bottom: none;
}


