*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar-wrapper{
    background-color: #FFC904;
    top: 0;
    left: 0;
    width: 7%;
    min-height: 100vh;
    /* display:ruby-base-container; */
    overflow: hidden;
}

.coordinatorBar{
    height: auto;
    width: auto;
    float: none;
}

.row{
    text-align: center;
    display: inline;
    height: 100%;
}

.row:hover{
    cursor: pointer;
    background-color: blue;
}

.commonContainer{
    display: inline-block;
    overflow: hidden;
}

.commonItems{
    height: auto;
    width: 110px;
    display: inline-block;
}

.ucfLogo{
    height: 80px;
    width: auto;
}

.ucfText{
    font-size: 28px;
    color: black;
    padding-bottom: none;
    margin-bottom: none;
}


